---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Blogroll"
  description="Blogs I read"
  pubDate={new Date("September 17 2024")}
>
  <p>
    Finding a balance between family, sports, keeping well and coding projects
    is a constant journey. Sometimes you just don't _feel_ like coding.
    Sometimes you don't feel like looking at a screen at all. But when you do,
    here are some things that interest me:
  </p>

  <h3>Entertainment</h3>

  <p>
    The
    <a href="https://open.spotify.com/show/4XPl3uEEL9hvqMkoZrzbx5">
      Darknet Diaries Podcast</a
    > is a great listen. I don't have cyber security experience, so it sounds all
    the more fascinating. A few good intro episodes are:
  </p>
  <ul>
    <li>
      <a
        href="https://open.spotify.com/episode/2GaxrBC4l8UEQACJGANlCh?si=0q5ZbraBTzekhIJ-OWp4yA"
        >No Parking</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/episode/0SF6oXn0z9UiT299AWAJJU?si=6w4OEC1KRraxbanagfx46g"
        >Xbox Underground</a
      >
      <a
        href="https://open.spotify.com/episode/5FO4bqRKnNt5QNkz9lVwAA?si=JDE-5EhDTiiZ0LF4JOSeYw"
        >(and part 2)</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/episode/51fVAGPHaYGyg1fsw92nZ2?si=4ff35b93d4584e93"
        >Beirut Bank Job</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/episode/3IA5gMzOFNvJgCnQLKaC4y?si=4M6e6OMMTjeVQYz5WxJKRw"
        >Jeremy From Marketing</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/episode/6iK5wfD95Bx0iHuaB6DVoY?si=N9tNHKP-Q7GmVmj87uiWBw"
        >Black Duck Eggs</a
      >
    </li>
  </ul>

  <p>
    At DDD, I saw <a href="https://larsklint.com/">Lars Klint</a> in his talk <a
      href="https://youtu.be/okqngjyTW88?si=yc8OheEnlBT6sSHk"
      >I connected my farm to the internet, now what?</a
    >. Home automation is interesting, but I more enjoy the energy and hilarity
    of this talk, and how much you'll conjure ideas for yourself while
    listening.
  </p>

  <p>
    You're probably expecting to see Dan Luu's blog here. It's simple and fast
    and delves into everything. It aligns with my ethos of not needing a react
    app for a pure consumption site, so sure. I just don't have favourite
    articles to give to you. If you're feeling satirical about the simplicity,
    check out <a href="https://motherfuckingwebsite.com/">This</a> and then <a
      href="http://bettermotherfuckingwebsite.com/">This</a
    >. If those brought you a chuckle, you've got the right humor for <a
      href="https://www.youtube.com/watch?v=hcYAHix-riY&ab_channel=GoldenKrishna"
      >This</a
    > (Goodness me you're clicking blind links on a random blog)
  </p>

  <h3>Workplace</h3>
  <p>
    Blending the line between beautiful magazine and tech articles is <a
      href="https://increment.com/">Increment</a
    >, a blog by the core team within Stripe. A previous Stripe engineer, <a
      href="https://lethain.com/about/">Will Larson</a
    > has posts really drilling in the idea of focussing on what actually matters
    in sofware, and growing as a whole person while you're at it.
  </p>

  <p>
    High Scalability is a good aggregate blog. I've never needed to work on a
    product requiring millions of queries per second, so an article on <a
      href="https://highscalability.com/brief-history-of-scaling-uber/"
      >Uber's Scaling history</a
    > is neat. (To save you a click, 40 Million QPS)
  </p>
</Layout>
