---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import GoogleTagManagerIFrame from "../components/GoogleTagManagerIFrame.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <GoogleTagManager />
  </head>
  <body>
    <GoogleTagManagerIFrame />
    <Header />
    <main>
      <h1>Hey! I'm Trent</h1>
      <p>
        I'm a software engineer in Australia with a passion for finding ways to
        make the world around me safer and more efficient, in the cheapest way
        possible.
      </p>
      <hr />
      <p>
        Part of the gorgeous family at CareApp as a Software Engineer,
        determined to learn enough so my CTO can go on a holiday without a worry
        in the world. Before this, I had experience teaching programming at the
        University of Adelaide and the National Computer Science School (NCSS,
        Sydney).
      </p>
      <p>
        I have had the pleasure of representing UofA as a speaker for the
        Australian Computer Society and have worked for Australia's largest ever
        startup (Atlassian). Here, I was given the opportunity to contribute to
        products used by Qantas, Twitter, NASA, Spotify and more.
      </p>
      <p>
        Pivotal achievements include working with Scott Belcher to receive first
        place for the South Australian NASA Space Challenge, furthering to a
        global nomination, with commerce student Scott Belcher. Following this,
        I was given the chance to work alongside members of Defence SA, Brand
        SA, Neumann Space, The Microsoft Innovation Center and Moonshot X with
        our application, WildFire.
      </p>
      <p>
        Wildfire gathered data from sentinel satellites, government data sources
        and community input to solve the task of staying on top of multiple data
        sources and family locations during a bushfire event. Articles of this
        success can be found in such SA publications as The Weekender Herald,
        The Lead SA, InDaily, and featured by NASA, BrandSA, DefenseSA.
      </p>
    </main>
    <Footer />
  </body>
</html>
