---
import "../styles/wallmap-style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Night Sky Poster</title>
    <script type="text/javascript" src="/html2canvas.min.js"></script>
    <script type="text/javascript" src="/d3-data/lib/d3.min.js"></script>
    <script type="text/javascript" src="/d3-data/lib/d3.geo.projection.min.js"
    ></script>
    <script type="text/javascript" src="/d3-data/celestial.min.js"></script>
    <link rel="stylesheet" href="/d3-data/celestial.css" />
  </head>
  <body>
    <div class="container">
      <div class="poster" id="poster">
        <div class="map" id="celestial-map"></div>
        <div class="details">
          <p class="title">THE NIGHT SKY</p>
          <p class="date">1st January 2024</p>
          <p class="coordinates">37.7648° N 122.4500° W</p>
        </div>
      </div>
      <div class="personalise">
        <h2>Personalise</h2>
        <p>Select your style, configure your map, then click download!</p>
        <div class="options">
          <label for="color">Choose Color</label>
          <div id="color">
            <button class="color-button black"></button>
            <button class="color-button midnight-blue"></button>
            <button class="color-button green"></button>
            <button class="color-button grey"></button>
          </div>
          <label for="map-style">Choose Map Style</label>
          <div id="map-style">
            <button class="map-style-button style1"></button>
            <button class="map-style-button style2"></button>
            <button class="map-style-button style3"></button>
            <button class="map-style-button style4"></button>
          </div>
          <label for="location"
            >Where do you want to see your Night Sky from?</label
          >
          <input type="text" id="locationText" value="13 Albert St, Goodwood SA" />
          <label for="date">When did your special moment occur?</label>
          <input type="date" id="date" />
          <label for="message">Add a personal message (optional)</label>
          <textarea id="message" rows="4" maxlength="256"></textarea>
        </div>
        <button id="select-location">Select Location</button>
        <a id="btnDownload">Download</a>
        <!-- <button id="btnDownload">Download</button> -->
      </div>
    </div>
    <script is:inline src="/scripts.js"></script>
  </body>
</html>
